*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #010319;
    height: 100%;
    width: 100%
}
.ui.container {

}
.individualCard {
    background-color: #010319;
}
.addressBookContainer {
    margin-top: 30px;
}
.addressBook {
   max-width: 100px;
   display: inline-block;
   margin: 1em;
}
.payments {
    max-width: 3em;
    display: inline-block;
    margin: 1em;
}
    
.dollar.sign.icon {
    color: #8A82B8;
    text-align: centered;
}
.payments {
    text-align: center;
    color: blue;
} 
.address {
    color: blue;
}
.contactList {
    margin-top: 30px;
    color: white;
}
hr {
    color: white;
    width: 100%;
}

.contactCard {
    color: white;
    margin-top: 20px;
}
.contactCard_name {
    font-size: 3em;
}
.contactCard_email {
    font-size: 1.5em;
}
.contactCard_homePhone {
    font-size: 1.5em;
}
.contactCard_cell {
    font-size: 1.5em;
}
.contactCard_addressHeading {
    font-size: 2em;
    margin-bottom: 0px;
}
.contactCard_address {
    font-size: 1.5em;
}
@media screen and (min-width: 300px) {
    
}
