*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #010319;
    height: 100%;
    width: 100%
}
.ui.container {
  margin-top: 10px;
}
.ui.link.cards { 
  margin-top: 25%;
}
.individualCard.blue.card {
    background-color: #010319;
}
.addressBookContainer {
    margin-top: 30px;
}
.addressBook {
   max-width: 100px;
   display: inline-block;
   margin: 1em;
}
.payments {
    max-width: 3em;
    display: inline-block;
    margin: 1em;
    text-align: center;
    color: white;
}
    
.dollar.sign.icon {
    text-align: centered;
    color: white;
}
.address {
    color: white;
}
.circular.ui.i {
  color: #8A82B8;
}
.newContactHeader {
  margin-top: 30px;
}
.newContactButton {
  display: block;
}
.circular.ui.user {
  align:left;
}
.contactList-newContact>a{
  color: #010318;
}
.logout {
  float: right;
  color: white;
}
.backButtonUi {
  padding-bottom: 70px;
  margin-left: -23px;
  color: #d3d3d3
}
.backButton {
}
.backButtonIcon {
  float: left;
  color: white;
}
.backToContacts {
  margin-left: -7px;
  margin-bottom: 25px;
  color: white;
}
.ui.circular.center.button.editContact {
  margin-bottom: 10px;
}
.contactList {
    color: #8A82B8;
    font-weight: 600;
    font-size: 1.2em;
    align: left;
}
hr {
    color: white;
    width: 100%;
}

.contactCard {
    color: white;
    margin-top: 20px;
}
.contactCard_name {
    font-size: 3em;
}
.contactCard_email {
    font-size: 1.5em;
}
.contactCard_homePhone {
    font-size: 1.5em;
}
.contactCard_cell {
    font-size: 1.5em;
}
.contactCard_addressHeading {
    font-size: 2em;
    margin-bottom: 0px;
}
.contactCard_address {
    font-size: 1.5em;
}
.newContactHeader {
  color: white;
  margin-bottom: 50px;
  text-align: center;
}
#deleteContactForm {
  float: right;
  display: inline;
  margin-bottom: 30px;
}
.deleteContact {
  float: right;
  display: inline-block;
  margin-bottom: 50px;
}
::placeholder {
}
input {
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 25px;
  background-color: transparent;
  outline: none;
  color: #8A82B8;
}
@media screen and (min-width: 300px) {
    
}
