{{>header}}
<div class='ui link cards'>
        <div id='topCard' class='individualCard blue card'>
        <a href='/contacts'>
        <i class='white address book massive icon'></i>
        </a>
    </div>

    <div id='bottomCard' class='individualCard blue card'>
    <a href='/payments'>
    <i class='white dollar sign massive icon'></i>
    </a>
    </div>
</div>








{{>footer}}
