{{>header}}
<div class='addressBookContainer fourteen wide centered column '>
<div class='one wide column addressBook'>
<div>
<a href='/contacts'><i class="address book massive icon"></i><p>Contacts</p></a>
</div>
</div>
<div class='one wide column payments'>
<div>
<a href='/paymentbook'><i class="dollar sign massive icon"></i><p>Payment Book</p></a>
</div>
</div>
</div>
</div>
{{>footer}}
