{{>header}}


<div class='four wide column addressBook'>
<i class="address book massive icon"></i>
<p>Address Book</p>
</div>
<div class='four wide column payments'>
<i class="dollar sign massive icon"></i>
<p>Payments</p>
</div>
</div>


{{>footer}}
