{{>header}}


<div class='four wide column addressBook'>
<a href='/addressbook'><i class="address book massive icon"></i><p>AddressBook</p></a>
</div>
<div class='four wide column payments'>
<a href='/paymentbook'><i class="dollar sign massive icon"></i><p>Payment Book</p></a>
<p>Payments</p>
</div>
</div>


{{>footer}}
