{{>header}}
<div class='ui link cards'>
        <div class='individualCard blue card'>
        <a href='/contacts'>
        <i class='black address book massive icon'></i>
    </div>
    </a>

    <div class='individualCard blue card'>
    <a href='/payments'>
    <i class='black dollar sign massive icon'></i>
    </a>
    </div>
</div>








{{>footer}}
