{{>header}}
<div class='addressBookContainer fourteen wide centered column '>
<div class='two wide column addressBook'>
<a href='/contacts'><i class="address book massive icon"></i></a>
</div>
<div class='two wide column payments'>
<a href='/paymentbook'><i class="dollar sign massive icon"></i><p>Payment Book</p></a>
</div>
</div>
</div>
{{>footer}}
