{{>header}}

<h1>Add New Contact</h1>
<form action='/contacts/new' method='post'>
    <input type='text' name='contact[firstName]' placeholder='First Name'>
    <input type='text' name='contact[lastName]' placeholder='Last Name'>
    <input type='text' name='contact[email]' placeholder='Email'>
    <input type='text' name='contact[homePhone]' placeholder='Home Phone'>
    <input type='text' name='contact[cell]' placeholder='Cellphone'>
    <input type='text' name='contact[address]' placeholder='Street Address'>
    <input type='text' name='contact[city]' placeholder='City'>
    <input type='text' name='contact[state]' placeholder='Sate'>
    <input type='text' name='contact[zipcode]' placeholder='zipcode'>
    <button>Create New Contact</button>
</form>

{{>footer}}
